
<%= render 'searchform' %>

<div class="container-fluid">
  <h1>Listing diesel records</h1>

  <p><%= link_to new_diesel_path, class: "btn btn-primary btn-sm" do %>
    <i class="glyphicon glyphicon-plus"></i> New diesel record
  <% end %>
</p>

<table class="table table-hover table-condensed">
  <tr>
    <th>Date</th>
    <th>Opening Stock</th>
    <th>Received Stock</th>
    <th>Actual Stock</th>
    <th>Total Stock</th>
    <th>Closing Stock</th>
    <th>Opening Meter</th>
    <th>Testing Meter</th>
    <th>Closing Meter</th>
    <th>Actual Sale</th>
    <th>Purchase Rate</th>
    <th>Sale Rate</th>
    <th colspan="13"></th>
  </tr>

  <% @diesels.each do |diesel| %>
    <tr>
      <td><%= diesel.reading_at %></td>
      <td><%= diesel.opening_stock %></td>
      <td><%= diesel.received_stock %></td>
      <td><%= diesel.actual_stock %></td>
      <td><%= diesel.total_stock %></td>
      <td><%= diesel.closing_stock %></td>
      <td><%= diesel.opening_meter %></td>
      <td><%= diesel.testing_meter %></td>
      <td><%= diesel.closing_meter %></td>
      <td><%= diesel.actual_sale %></td>
      <td><%= diesel.purchase_rate %></td>
      <td><%= diesel.sale_rate %></td>
      <td>
        <%= link_to diesel_path(diesel), class: "btn btn-primary btn-xs" do %>
          <i class="glyphicon glyphicon-th-list"></i> Show
        <% end %>
        <%= link_to edit_diesel_path(diesel), class: "btn btn-warning btn-xs" do %>
          <i class="glyphicon glyphicon-pencil"></i> Edit
        <% end %>
        <%= link_to diesel_path(diesel), class: "btn btn-danger btn-xs",
          method: :delete,
          data: { confirm: 'Are you sure?' } do %>
          <i class="glyphicon glyphicon-remove"></i> Delete
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
